<!DOCTYPE html>
<html>
    <head>
        <title>Creación de noticia</title>
        <link rel="icon" type="image/png" href="/static/img/favicon.png">
        <script type="text/javascript">


            function chkName()
            {
                const form = document.getElementById("frmInputName");
                const dvError = document.getElementById("dvError");

                for (j in form.childNodes){
                    var i = form.childNodes[j]
                    if(i.type == "text" && (i.value.length === 0 || i.value == null)){
                        const np = document.createElement("p");

                        np.textContent = "ERROR: no hay " + i.name;
                        dvError.style.display="block";
                        dvError.appendChild(np);
                        return false;
                    }

                }
                return true
            }
        </script>
           <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body style="background: linear-gradient(135deg, #0428518d 0%, #bfceff 100%); min-height: 100vh;">
        
        <header class="p-3 bg-dark text-white">
    <div class="container-fluid" style="padding-left: 0px;">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-center">
        <a href="/" class="navbar-brand">
          <img src="/static/img/logo.png" alt="Logo" style="height: 40px; width: auto;" class="d-inline-block align-text-top">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/noticias" class="nav-link px-2 text-secondary">Noticias</a></li>
          <li><a href="/about" class="nav-link px-2 text-white">Sobre SimpleNews</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" onsubmit="window.location.href='/noticias/b/?q=' + this[0].value; return false;">
          <input type="search" class="form-control form-control-dark" placeholder="Busca tu noticia..."
            aria-label="Search">
        </form>

        {% if not sesion %}
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" onclick="window.location.href='/users/'">Iniciar sesión</button>
          <button type="button" class="btn btn-warning" onclick="window.location.href='/users/register'">Registrarse</button>
        </div>
        {% else %}
        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2" onclick="fetch('/api/l/logout', {
            method: 'POST',
        })
            .then(response => {
              if (response.redirected) {
                window.location.reload();
              }
            })">Cerrar sesión</button>
          <button type="button" class="btn btn-warning" onclick="window.location.href='/users/profile'">Perfil</button>
        </div>
        {% endif %}
      </div>
  </header>
        <div class="position-absolute top-50 start-50 translate-middle"
    style="max-width: 90vw; width: 50%; padding: 20px; border-radius: 10px; background-color: rgba(255, 255, 255, 0.8); max-height: 70vh; overflow-y: scroll;">
        
        <h2 class="display-5">Crear noticia</h2>
        <form id="frmInputName"
                method="POST"
                action="/api/c/noticia"
                onsubmit="return chkName()"
                >
                <label class="form-label" for="titulo">Título</label>
            <input class="form-control" type="text" id="titulo" name="titulo"/>
            <br>
            <label class="form-label" for="subtitulo">Subtítulo</label>
            <input class="form-control" type="text" id="subtitulo" name="subtitulo"/>
            <br>
            <label class="form-label" for="contenido">Contenido</label>
            <textarea class="form-control"  id="contenido" name="contenido"></textarea>
            <input type="submit" id="btSubmit" value="Ok"/>
        </form>

        <div id="dvError" style="background-color: red; color: white; display: none;">¡
        </div>
        </div>
    </body>
</html>